# Carpetas de sistema
.vscode/
Thumbs.db
.DS_Store

# Node.js (si usas npm o yarn)
node_modules/
package-lock.json
yarn.lock

# Archivos de compilación o temporales
dist/
build/
*.log
*.tmp

# Archivos sensibles o de configuración
.env